<p id="notice"><%= notice %></p>

<p>
  <strong>description:</strong>
  <%= @remedy.description %>
</p>

<p>
  <strong>twitter handle:</strong>
  <%= @remedy.twitter_handle %>
</p>

<%= link_to 'Back', new_remedy_url %>
