<p id="notice"><%= notice %></p>

<p>
  <strong>description:</strong>
  <%= @remedy.description %>
</p>

<p>
  <strong>twitter handle:</strong>
  <%= @remedy.twitter_handle %>
</p>

<%= link_to 'Back', new_remedy_url %>

<div>
  <a class="button" href="/" title="Home"><i class="fa fa-home fa-2x"></i></i>
</div>
