.home-container {
  width: 650px;
  margin: 0 auto;
}

.add-remedy {
  float: right;
}

.cure {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 400px;
  margin: 0 auto;
}

.didnt-work{
  float: left;
}

.it-worked{
  float: right;
}

body {
  background-color: #E6E6FA;
  font-family: 'Raleway', sans-serif; font-weight: 600;
}
