    <div class="home-container">
      <div class="add-remedy">
        <a href="remedy.html" target="_self"> Add remedy </a>
      </div>
      <div class="cure">
          <h2>Hold your breath and meditate</h2>
      </div>

      <div class="didnt-work">
          <button type="button">Hiccup! I need another cure.</button>
      </div>
      <div class="it-worked">
          <button type="button">It worked \o/</button>
      </div>
    </div>
