
<body class="home">
  <div class="home-container">
    <div class="add-remedy">
        <a href="/remedy" title="Add your own remedy"><%= image_tag 'plus_icon.svg'%></a>
    </div>
    <div class="display-remedy">
        <h1><%=@hiccup_cure%></h1>
    </div>
  </div>

  <div class="buttons">
    <a class="remedy-didnt-work" href="" title="Hiccup! I need another remedy!"><%= image_tag 'black_x_icon.svg'%></a>
    <a class="remedy-worked" href="/hurray" title="It worked!"><%= image_tag 'black_check_icon.svg'%></a>
  </div>
</body>
