
<body class="home">
  <div class="home-container">
    <div class="add-remedy">
        <a href="/remedy" title="Add your own remedy"><i class="fa fa-plus-square-o fa-2x"></i></a>
    </div>
    <div class="display-remedy">
        <h1><%=@hiccup_cure%></h1>
    </div>
  </div>

  <div class="buttons">
    <a class="remedy-didnt-work" href="" title="Hiccup! I need another remedy!"><i class="fa fa-times-circle fa-4x"></i></a>
    <a class="remedy-worked" href="/hurray" title="It worked!"><i class="fa fa-check-circle fa-4x"></i></a>
  </div>
</body>
