
<body class="home">
  <div class="home-container">
    <div class="add-remedy">
      <a href="remedy.html"> Add remedy </a>
    </div>
    <div class="cure">
        <h1><%=@hiccup_cure%></h1>
    </div>
    <div class="didnt-work">
        <button type="button">Hiccup! I need another cure.</button>
    </div>
    <div class="it-worked">
        <button type="button">It worked \o/</button>
    </div>
  </div>
</body>
