 <body class="hurray-the-remedy-worked">
  <div>
    <h1>Hurray! No more hiccups!</h1>
    <a href="https://twitter.com" title="Share it on Twitter!"><i class="button fa fa-twitter fa-5x"></i>
  </div>

  <div>
    <a href="/" title="Home"><i class="button fa fa-home fa-2x"></i></i>
  </div>

</body>
