<body class="hurray-the-remedy-worked">
  <div>
    <h1>Hurray! No more hiccups!</h1>
    <a class=twitter-bird href="https://twitter.com" title="Share it on Twitter!"><i class="fa fa-twitter fa-5x"></i>
  </div>
</body>
