 <body class="hurray-the-remedy-worked">
  <div>
    <h1>Hurray! No more hiccups!</h1>
    <a class="button" href="https://twitter.com" title="Share it on Twitter!"><i class="fa fa-twitter fa-5x"></i>
  </div>

  <div>
    <a class="button" href="/" title="Home"><i class="fa fa-home fa-2x"></i></i>
  </div>

</body>
