
<body class="remedy">
    <div style="width:350px; margin:0 auto;">
    <h2> What's your remedy?</h2>
    <textarea rows="10" cols="50"></textarea>
    <div class="twitter handle">
      Twitter handle: <input type="text" name="twitter_handle" value="@">
    </div>
    <div class="it-worked">
        <button type="button">Submit</button>
    </div>
</body>
