
<body class="add-your-own-remedy">
    <div>
      <h1> What's your remedy?</h1>
      <textarea rows="10" cols="50"></textarea>
    <div class="twitter handle">
      Twitter handle: <input type="text" name="twitter_handle" value="@">
    </div>
</body>
