/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .home-container {
   width: 700px;
   margin: 50px auto 0 auto;
 }

 .add-remedy {
   margin-left: 700px;
   margin-top: 0px;
 }

 .display-remedy {
   padding-top: 100px;
   width: 750px;
   height: 300px;
   margin: 30px auto 0px auto;
 }

 .buttons{
   width: 750px;
   margin: 30px auto 0 auto;
 }


 .remedy-didnt-work{
   float: left;
 }

 .remedy-worked{
   float: right;

  }

.add-your-own-remedy{
  width: 700px;
  margin: 100px auto 0 auto;
}

.hurray-the-remedy-worked{
  width: 800px;
  margin: 100px auto 0 auto;
  text-align: center;
}

 body {
   font-family: 'Raleway', sans-serif; font-weight: 600;
 }
