@import "font-awesome-sprockets";
@import "font-awesome";

.home-container {
  width: 700px;
  margin: 50px auto 0 auto;
}

.add-remedy {
  margin-left: 700px;
  margin-top: 0px;
}

.add-remedy-plus-button {
  color: black;
}

.display-remedy-description {
  padding-top: 100px;
  width: 750px;
  height: 300px;
  margin: 30px auto 0px auto;
  text-align: center;
}

.new-remedy-page {
  width: 750px;
  margin: 50px auto 0 auto;
}

.buttons{
  width: 750px;
  margin: 30px auto 0 auto;
}

.remedy-didnt-work{
  float: left;
  color: black;
}

.remedy-worked{
  float: right;
  color: black;
 }

.hurray-the-remedy-worked{
 width: 800px;
 margin: 100px auto 0 auto;
 text-align: center;
}

.twitter-bird{
  color: black;
}

.home-button{
  color: black;
}

a:hover{
  color: white;
}

body {
  font-family: 'Raleway', sans-serif; font-weight: 600;
}
